<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/signup" method="get">
    <button>signup</button>
  </form>
  <br><br>
  <form action="/login">
    <button></button>
  </form>

  <form action="/employeesignup">
    <button>start earning today</button>
  </form>
  
  <h1>Get in touch!</h1>
  <form action="/gohelp" method="post">
    <input type="text" placeholder="enter your name" name="getname">
    <br><br>
    <input type="email" placeholder="enter your email" name="getemail">
    <br><br>
    <input type="text" placeholder="enter subject" name="getsubject">
    <br><br>
    <textarea name="getcomment" id=""></textarea>  
    <br><br>
    <button>send message</button>
  </form>
</body>
</html>