<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <h1>scrap collection</h1>
    <form action="/main/scrapcollection">
      <button>view more</button>
    </form>
 </div>
 <div>
  <h1>House Cleaning</h1>
  <form action="/main/housecleaning">
    <button>view more</button>
  </form>
</div>
<div>
  <h1>babysitting</h1>
  <form action="/main/babysitting">
    <button>view more</button>
  </form>
</div>
<div>
  <h1>watertankcleaning</h1>
  <form action="/main/watertankcleaning">
    <button>view more</button>
  </form>
</div>
<div>
  <h1>handymanservice</h1>
  <form action="/main/handymanservice">
    <button>view more</button>
  </form>
</div>

<div>
  <h1>start earning today</h1>
  <form action="/main/serviceprovider">
    <button>start earning today</button>
  </form>
</div>
  
</body>
</html>